<div class="header">
    <a routerLink="/home" (click)="onHeaderClicked(0)">
        {{this.homeLocale}}
        <div [ngClass]="this.currentlySelected == 0 ? 'selected' : 'unselected'"></div>
    </a>
    <a routerLink="/mylists" (click)="onHeaderClicked(1)">
        {{this.myListsLocale}}
        <div [ngClass]="this.currentlySelected == 1 ? 'selected' : 'unselected'"></div>
    </a>
    <a routerLink="/settings" (click)="onHeaderClicked(2)">
        {{this.settingsLocale}}
        <div [ngClass]="this.currentlySelected == 2 ? 'selected' : 'unselected'"></div>
    </a>
</div>
