<div *ngIf="entry">
    <h1>Title: {{this.entry.title}}</h1>

    <u><h2>Content</h2></u>

    <div *ngFor="let listEntry of this.entry.entries">
        <div [ngSwitch]="listEntry.htmlRepresentation()">
            <app-entry-container [entry]="listEntry" [todoList]="entry">
                <app-string-view [entry]="listEntry" *ngSwitchCase="'1'"></app-string-view>
                <app-image-view [entry]="listEntry" *ngSwitchCase="'2'"></app-image-view>
            </app-entry-container>
        </div>
    </div>
</div>
