<div [ngClass]="{ 'first' : first, 'last': last }" class="entry">

    <div class="checkBox" (click)="this.checkBoxClicked(!this.todoList?.isComplete)"
         [ngClass]="todoList?.isComplete ? 'checkBox checked' : 'checkBox unchecked'">
    </div>
    <div class="entireWidth" routerLink="/list/{{this.todoList?.hash}}">
        <h2>{{this.todoList?.title}}</h2>
    </div>
    <div>
        <img (click)="this.deleteEntryPrompt()" alt="Not found :(" src="assets/Cancel.png" class="cancel" width="30"/>
    </div>
</div>
